.DS_Store
node_modules
/web/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/server/config.py
__pycache__
server/.env
server/.env
api/.vs
api/bin
api/obj
api/Fcz.Navi.Api.WebApi/obj
api/Fcz.Navi.Api.WebApi/bin
api/Fcz.Navi.Api.Services/bin
api/Fcz.Navi.Api.Services/obj
api/Fcz.Navi.Api.Repositories/bin
api/Fcz.Navi.Api.Repositories/obj
api/Fcz.Navi.Api.Models/bin
api/Fcz.Navi.Api.Models/obj
